* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #F55D58;  /* Orange */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #800;
  background-color: #FA864E;  /* Pink */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
body {
  background-color: #F5938A;
}
